// 例えば角丸設定を上書きする
$enable-rounded: false;

// テーマカラー設定
$theme-colors: (
  "primary": #1e9e5e
);

// ヒーロースペースの背景色
$jumbotron-bg: #d9f5ff;

// フォントを変える
$font-family-base: serif;

/* Bootstrap を読み込む */
@import "~bootstrap/scss/bootstrap.scss";
